*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.simpleCell{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
td.mergedTop {
	border-bottom: 1px dashed rgba(34, 36, 38, 0.3);
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
td.mergedBottom {
	border-top: none !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
th {
	font-family: "Times New Roman", Times, sans-serif;
	padding: 5px;
	max-width: 2em;
	vertical-align: bottom;
}
.time {
	margin: 0 auto;
	text-align: center;
}
.rotate {
	-moz-transform: rotate(-90.0deg);
	-o-transform: rotate(-90.0deg);
	-webkit-transform: rotate(-90.0deg);
	transform: rotate(-90.0deg);
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	padding-left: 5px;
}
.container{
	margin: 20px auto !important;
}
.controls{
	margin: 10px;
}
.segment p.week{
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-transform: none;
	text-shadow: none;
	font-weight: bold;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
}
.segment.no-shadow {
	box-shadow: none !important;
}
.ui.celled.table tr th, .ui.celled.table tr td {
	border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
}
.ui.celled.table tr th:first-child{
	border-top: 1px solid rgba(34, 36, 38, 0.1) !important;
}
.ui.celled.table tr th:first-child{
	border-left: none !important;
}
.ui.celled.table tr:first-child th{
	border-top: none !important;
}
.ui.dimmer {
	position: fixed !important;
}